<div class="page-container">
  <div class="content-container">
    <h1 class="page-title">Crossword Game for Kati</h1>
    <p class="page-description">Нажми на любую клетку, чтобы перейти к одгадываюнию слова. Пожалуйста, отгадывай слова по порядку</p>
    
    <div class="card">
      <div class="card-content">
        <div class="crossword-grid" [style.grid-template-columns]="gridTemplateColumns">
          <div *ngFor="let cell of grid; let i = index" 
               class="crossword-cell"
               [class.solved]="cell.solved"
               [class.clickable]="cell.isPartOfWord"
               [class.empty]="!cell.isPartOfWord"
               [class.hovered]="isCellInHoveredWord(cell)"
               (mouseenter)="onCellMouseEnter(i)"
               (mouseleave)="onCellMouseLeave()"
               (click)="cell.isPartOfWord && onCellClick(i)">
            <span class="word-number" *ngIf="cell.isStart">{{cell.wordNumber}}</span>
            {{ cell.value }}
          </div>
        </div>

        <div class="completion-section" 
             *ngIf="isPuzzleComplete" 
             [@slideIn]
             #completionSection>
          <div class="success-message">
            <span class="material-icon">stars</span>
            <h3>Ура!</h3>
            <p>Ты нашла все подарки и разгадала весь кроссворд! Остался последний подарок и последнее слово</p>
            <button class="button primary" (click)="router.navigate(['/success'])">
              <span class="material-icon">celebration</span>
              За последним подарком
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 